version: "{branch}-{build}"
cache:
    - '%LOCALAPPDATA%\pip\Cache'
build: off

skip_tags: true

shallow_clone: true
clone_depth: 100

environment:
    matrix:
        - PYTHON: C:\Python27
          TOXENV: "py27"

        - PYTHON: C:\Python36
          TOXENV: "py36"

        - PYTHON: C:\Python37
          TOXENV: "py37"

        - PYTHON: C:\Python38
          TOXENV: "py38"

        - PYTHON: C:\Python38
          TOXENV: "py38"

init:
    - ps: echo $env:TOXENV
    - ps: ls C:\Python*

install:
    - '%PYTHON%\Scripts\pip install tox'

test_script:
    - '%PYTHON%\Scripts\tox.exe'

on_failure:
    - ps: dir "env:"
    - ps: get-content .tox\*\log\*
